div
{	
	
	position: absolute;
	top: 50%;
	right: 50%;
	left: 350px;
	width: 150px;
	height: 100px;
	border-radius: 15px;
	display: block;
	background: silver;
	border-left: 3px dotted;
	font-family: sans-serif;
	text-align: center;
	margin: auto;




}
div:hover
{
	clip-path: polygon(0 0, 0% 100%, 100% 44%);
	background: grey;
}
a
{	
	line-height: 5em;
	text-decoration: none;
}
a:hover
{
	color: red;
}










